<h1>Dzwonek Hub:raum</h1>
<img src="https://www.hubraum.com/sites/default/files/hubraum-logo.png" />
<table style="display:inline">
  <% people = [] %>
<% @games.each do |game| %>
  <% people.push(User.find(game.attacker_id).avatar_name) %>
  <% name = User.find(game.attacker_id).avatar_name %>
  <% if people.include? name %>
<tr>
  <td style="padding:20px; border-bottom: 2px solid black;"><h1><%= game.created_at.strftime('%H:%M') %></h1></td>
  <td style="padding:20px; border-bottom: 2px solid black;"><h2>Przyszedł <%= name %></h2>
    <br>
    <%= User.find(game.attacker_id).avatar_description %>
  </td>
  </tr>
  <% end %>
<% end %>
</table>

<table style="display:inline; position:absolute; left:50%; top:10%;">
<tr><td><h1>Obecni w hub:raum</h1></td></tr>

<% people.uniq.each do |person| %>
<tr><td><h2><%= person %></h2></td></tr>
<% end %>
  </table>